#PLEASE refer to the README.md for accepted values FOR THE VARIABLES BELOW
client_secret = "PLEASE ENTER CLIENT SECRET" # "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
client_id     = "PLEASE ENTER CLIENT ID"     # "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
tenant_id     = "PLEASE ENTER TENANT ID"     # "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

subscription_id      = "XXX" # "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
source_image_vhd_uri = "noCustomUri"                          # "noCustomUri"
resource_group_name  = "rg-demo-cluster"              # "checkpoint-ha-terraform"
cluster_name         = "chkp-demo-cluster"                       # "checkpoint-ha-terraform"
location             = "West Europe" #"northeurope"                          # "eastus"

vnet_name            =  "vnet-spring-demo" # "vnet-azure-demo-lab" # "checkpoint-ha-vnet"
vnet_resource_group  = "rg-spring-demo" # "rg-ademo"            # "existing-vnet"
frontend_subnet_name =   "cp-front-subnet" # "cp-front-subnet"     # "frontend" 10.42.3.0/24
backend_subnet_name  =   "cp-back-subnet" #"cp-back-subnet"      # "backend"    10.42.4.0/24

frontend_IP_addresses = [45, 46, 47] # "PLEASE ENTER 3 FRONTEND IP ADDRESS POSITIONAL NUMBER"           # [5, 6, 7] NODE1, NODE2, VIP
backend_IP_addresses  = [47, 45, 46] # "PLEASE ENTER 3 BACKEND IP ADDRESSES POSITIONAL NUMBERS"         # [5, 6, 7]  LB, NODE1, NODE2

admin_password = "changeme-gxV8QCXaNnDuf9XCiFDc" # "xxxxxxxxxxxx"
sic_key        = "changeme-jJXEaHiogoyyt8X66qZ8" # "xxxxxxxxxxxx"

vm_size                      = "Standard_D3_v2"                                                                  # "Standard_D3_v2"
disk_size                    = "110"                                                                             # "110"
vm_os_sku                    = "sg-byol"                                                                         # "sg-byol"
vm_os_offer                  = "check-point-cg-r8110"                                                            # "check-point-cg-r8110"
os_version                   = "R81.10"                                                                          # "R81.10"
bootstrap_script             = "touch /home/admin/bootstrap.txt; echo 'hello_world' > /home/admin/bootstrap.txt" # "touch /home/admin/bootstrap.txt; echo 'hello_world' > /home/admin/bootstrap.txt"
allow_upload_download        = true                                                                              # true
authentication_type          = "Password"                                                                        # "Password"
availability_type            = "Availability Zone"                                                               # "Availability Zone"
enable_custom_metrics        = false                                                                             # true
enable_floating_ip           = false                                                                             # false
use_public_ip_prefix         = false                                                                             # false
create_public_ip_prefix      = false                                                                             # false
existing_public_ip_prefix_id = ""                                                                                # ""
admin_shell                  = "/bin/bash"                                                                       # "/etc/cli.sh"